@import url(./opale.css);

/* PurpleMine2寄りの色にする */
#top-menu {
  box-sizing: border-box;
  padding: 6px 20px;
  background: #36266b;
  color: #dfdbed;
  font-size: .86em
}
#header {
  position: relative;
  background-color: #614ba6;
  color: #fff;
}
a {
  color: #0051cc;
  text-decoration: none
}
a:hover,a:focus {
  color: #0065ff;
  text-decoration: underline
}
a.issue.closed {
  color: #707893;
  text-decoration: line-through
}
a.project.closed {
  color: #707893
}
a.user.locked {
  color: #707893
}
div.tabs:not(#main-menu)>ul>li>a {
  padding: 5px 8px;
  border-color: rgba(0,0,0,0);
  background: rgba(0,0,0,0);
  color: #0051cc;
  font: inherit
}
span.private,.badge-private {
  padding: 1px 6px;
  border: 0;
  background: #fc8c12;
  color: #fff
}
.badge-status-open {
  border-color: #0065ff;
  color: #0065ff
}
.badge-status-locked {
  border-color: #a3a6b7;
  color: #a3a6b7
}
.badge-status-closed {
  border-color: #029934;
  color: #029934
}
.badge-issues-count {
  border-color: #dadce6;
  background-color: #f6f6f9
}
summary{color:#0051CC;cursor:pointer}
summary:hover{color:#0065FF;text-decoration:underline}
select:focus,textarea:focus,input[type=datetime]:focus,input[type=datetime-local]:focus,input[type=date]:focus,input[type=month]:focus,input[type=time]:focus,input[type=week]:focus,input[type=number]:focus,input[type=url]:focus,input[type=tel]:focus,input[type=color]:focus,input[type=search]:focus,input[type=email]:focus,input[type=text]:focus,input[type=password]:focus {
  border-color: rgba(81,45,196,.6);
  outline: 0;
  box-shadow: inset 0 1px 2px rgba(0,0,0,.075),0 0 0 2px rgba(81,45,196,.2)
}
table.list tbody tr.priority-default .priority::before, .issue.details.priority-default .attributes td.priority::before, .issue.details.priority-default .attribute.priority .value::before {
  content: "　";
  display: inline-block;
  width: 14px;
  margin-right: 5px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 14px;
}
.issue .attributes td.status,.issue .attributes .attribute.status .value {
  display: inline-block;
  width: auto;
  min-width: 1em;
  margin-top: 3px;
  padding: 1px 8px;
  border-radius: 3px;
  background-color: #614ba6;
  color: #fff;
  font-size: .86em;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase
}
.issue.status-1 .attributes td.status,.issue.status-1 .attributes .attribute.status .value {
  background-color: #0065ff;
  color: #fff
}
.issue.closed .attributes td.status,.issue.closed .attributes .attribute.status .value {
  background-color: #e5123d;
  color: #fff
}
table.list tbody tr.priority-lowest .priority::before,.issue.details.priority-lowest .attributes td.priority::before,.issue.details.priority-lowest .attribute.priority .value::before {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14'%3e%3cpath fill='%23029934' d='M11.707 7.293a.999.999 0 00-1.414 0L8 9.586V2a1 1 0 10-2 0v7.586L3.707 7.293a.999.999 0 10-1.414 1.414l4 4a.997.997 0 001.414 0l4-4a.999.999 0 000-1.414z'/%3e%3c/svg%3e")
}
table.list tbody tr.priority-low2 .priority::before,.issue.details.priority-low2 .attributes td.priority::before,.issue.details.priority-low2 .attribute.priority .value::before {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14'%3e%3cg fill='%2301A671'%3e%3cpath d='M7 12a.995.995 0 01-.6-.2l-4-3a1 1 0 011.2-1.6L7 9.75l3.4-2.55a1 1 0 011.2 1.599l-4 3A.99.99 0 017 12z'/%3e%3cpath opacity='.7' d='M7 7a.995.995 0 01-.6-.2l-4-3a1 1 0 011.2-1.6L7 4.75l3.4-2.55a1 1 0 011.2 1.599l-4 3A.99.99 0 017 7z'/%3e%3c/g%3e%3c/svg%3e")
}
table.list tbody tr.priority-low3 .priority::before,.issue.details.priority-low3 .attributes td.priority::before,.issue.details.priority-low3 .attribute.priority .value::before {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14'%3e%3cpath fill='%2300B3AD' d='M7 9.5a.995.995 0 01-.6-.2l-4-3a1 1 0 011.2-1.6L7 7.25l3.4-2.55a1 1 0 011.2 1.599l-4 3A.99.99 0 017 9.5z'/%3e%3c/svg%3e")
}
table.list tbody tr.priority-default .priority::before,.issue.details.priority-default .attributes td.priority::before,.issue.details.priority-default .attribute.priority .value::before {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14'%3e%3cpath fill='%230065FF' d='M11.5 6h-9a1 1 0 110-2h9a1 1 0 110 2zm0 4h-9a1 1 0 110-2h9a1 1 0 110 2z'/%3e%3c/svg%3e")
}
table.list tbody tr.priority-high5 .priority::before,.issue.details.priority-high5 .attributes td.priority::before,.issue.details.priority-high5 .attribute.priority .value::before {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14'%3e%3cpath fill='%23614BA6' d='M10.999 9.5a.996.996 0 01-.599-.2L7 6.75 3.6 9.3a1 1 0 01-1.2-1.6l4-3a.996.996 0 011.2 0l4 3a.999.999 0 01-.601 1.8z'/%3e%3c/svg%3e")
}
table.list tbody tr.priority-high4 .priority::before,.issue.details.priority-high4 .attributes td.priority::before,.issue.details.priority-high4 .attribute.priority .value::before {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14'%3e%3cpath fill='%23FC8C12' d='M10.999 9.5a.996.996 0 01-.599-.2L7 6.75 3.6 9.3a1 1 0 01-1.2-1.6l4-3a.996.996 0 011.2 0l4 3a.999.999 0 01-.601 1.8z'/%3e%3c/svg%3e")
}
table.list tbody tr.priority-high3 .priority::before,.issue.details.priority-high3 .attributes td.priority::before,.issue.details.priority-high3 .attribute.priority .value::before {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14'%3e%3cg fill='%23F14F28'%3e%3cpath d='M10.999 7a.994.994 0 01-.599-.2L7 4.25 3.6 6.8a1 1 0 01-1.2-1.6l4-3a.995.995 0 011.199 0l4 3a.998.998 0 01.2 1.399.992.992 0 01-.8.401z'/%3e%3cpath opacity='.7' d='M10.999 12a.994.994 0 01-.599-.2L7 9.25 3.6 11.8a1 1 0 01-1.2-1.599l4-3a.995.995 0 011.199 0l4 3a.998.998 0 01-.6 1.799z'/%3e%3c/g%3e%3c/svg%3e")
}
table.list tbody tr.priority-high2 .priority::before,.issue.details.priority-high2 .attributes td.priority::before,.issue.details.priority-high2 .attribute.priority .value::before {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14'%3e%3cpath fill='%23E5123D' d='M11.707 5.293l-4-4a.999.999 0 00-1.414 0l-4 4a.999.999 0 101.414 1.414L6 4.414V12a1 1 0 102 0V4.414l2.293 2.293a.997.997 0 001.414 0 .999.999 0 000-1.414z'/%3e%3c/svg%3e")
}
table.list tbody tr.priority-highest .priority::before,.issue.details.priority-highest .attributes td.priority::before,.issue.details.priority-highest .attribute.priority .value::before {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14'%3e%3cpath fill='%23BC092E' d='M11.6 4.2l-4-3a.999.999 0 00-1.2 0l-4 3A1 1 0 002 5v7a1.001 1.001 0 001.6.8L7 10.25l3.4 2.55a.995.995 0 001.047.095c.339-.17.553-.516.553-.895V5a1 1 0 00-.4-.8z'/%3e%3c/svg%3e")
}
input[type=button],input[type=submit],input[type=reset],button {
  padding: 3px 12px;
  border-radius: 3px;
  font-size: 14px;
  line-height: 1.428571429;
  display: inline-block;
  margin-bottom: 0;
  transition: border-color 50ms ease-in-out,background-color 50ms ease-in-out,box-shadow 50ms ease-in-out;
  border: 1px solid;
  font-weight: normal;
  text-align: center;
  vertical-align: top;
  white-space: nowrap;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #0065ff;
  color: #fff;
  border-color: #0065ff #0065ff #004dc2;
  box-shadow: 0 1px 0 #004dc2
}
input[type=button]:hover,input[type=button]:focus,input[type=submit]:hover,input[type=submit]:focus,input[type=reset]:hover,input[type=reset]:focus,button:hover,button:focus {
  background-color: #004dc2;
  color: #fff;
  border-color: #004dc2 #004dc2 #003585;
  box-shadow: 0 1px 0 #003585
}
input[type=button]:active,input[type=submit]:active,input[type=reset]:active,button:active {
  transform: translate(0, 1px);
  border-color: #0047b3;
  background-color: #004dc2;
  box-shadow: inset 0 3px 4px -2px #0047b3
}
input[type=button]:hover,input[type=button]:focus,input[type=submit]:hover,input[type=submit]:focus,input[type=reset]:hover,input[type=reset]:focus,button:hover,button:focus {
  text-decoration: none
}
input[type=button].disabled,input[type=button][disabled],fieldset[disabled] input[type=button],input[type=submit].disabled,input[type=submit][disabled],fieldset[disabled] input[type=submit],input[type=reset].disabled,input[type=reset][disabled],fieldset[disabled] input[type=reset],button.disabled,button[disabled],fieldset[disabled] button {
  opacity: .65;
  box-shadow: none;
  pointer-events: none
}
form input[type=submit] {
  margin-right: 2px
}
form input[type=submit]+input {
  background-color: #029934;
  color: #fff;
  border-color: #029934 #029934 #027b2a;
  box-shadow: 0 1px 0 #027b2a
}
form input[type=submit]+input:hover,form input[type=submit]+input:focus {
  background-color: #027b2a;
  color: #fff;
  border-color: #027b2a #027b2a #015d1f;
  box-shadow: 0 1px 0 #015d1f
}
form input[type=submit]+input:active {
  transform: translate(0, 1px);
  border-color: #027327;
  background-color: #027b2a;
  box-shadow: inset 0 3px 4px -2px #027327
}
.agile-board table.list.issues-board tbody tr {
  background-color: #fff
}
.agile-board table.list.issues-board tbody tr>td.issue-status-col {
  padding: 0;
  padding-left: 10px;
  background-color: #f6f6f9
}
.agile-board table.list.issues-board tbody tr>td.issue-status-col.closed .issue-card {
  background: #e3e5ec
}
.agile-board .issue-card {
  margin: 8px 10px;
  margin-left: 0;
  padding: 7px;
  border: 1px solid #d1d3e0;
  border-width: 0 0 0 5px;
  border-radius: 4px;
  background-color: #fff;
  color: #3e4359;
  box-shadow: 0 1px 2px rgba(0,0,0,.25)
}
.agile-board .issue-card.ui-sortable-helper {
  box-shadow: 0 14px 24px -4px rgba(0,0,0,.25),0 3px 10px rgba(0,0,0,.3)
}
.agile-board .issue-card:not(.context-menu-selection) .attributes,.agile-board .issue-card:not(.context-menu-selection) em.info,.agile-board .issue-card:not(.context-menu-selection) span.hours {
  color: #3e4359
}
.agile-board .issue-card.bk-green {
  border-color: #029934;
  background-color: #bbfcd0
}
.agile-board .issue-card.bk-blue {
  border-color: #0065ff;
  background-color: #cce0ff
}
.agile-board .issue-card.bk-turquoise {
  border-color: #00b3ad;
  background-color: #befdfb
}
.agile-board .issue-card.bk-lightgreen {
  border-color: #419902;
  background-color: #d6ffb8
}
.agile-board .issue-card.bk-yellow {
  border-color: #ffc907;
  background-color: #fff4cd
}
.agile-board .issue-card.bk-orange {
  border-color: #fc8c12;
  background-color: #ffe8cf
}
.agile-board .issue-card.bk-red {
  border-color: #e5123d;
  background-color: #fed8e0
}
.agile-board .issue-card.bk-purple {
  border-color: #614ba6;
  background-color: #e2dafc
}
.agile-board .issue-card.bk-gray {
  border-color: #a3a6b7;
  background-color: #e3e5ec
}
.bk-green a {
  color: #005d1f
}
.bk-blue a {
  color: #003d99
}
.bk-turquoise a {
  color: #006b68
}
.bk-lightgreen a {
  color: #275d00
}
.bk-yellow a {
  color: #9d7600
}
.bk-orange a {
  color: #9f5403
}
.bk-red a {
  color: #900421
}
.bk-purple a {
  color: #36266b
}
.select2-container.select2-container--default {
  color: #3e4359
}
#top-menu .dropdown .dropdown-menu>li a:hover,#top-menu .dropdown .dropdown-menu>li a:focus,#top-menu .dropdown .dropdown-submenu:hover a,#top-menu .dropdown .dropdown-submenu:focus a {
  background-color: #614ba6;
  color: #fff
}
.select2-container.select2-container--default .select2-selection {
  transition: border-color 50ms ease-in-out,box-shadow 50ms ease-in-out;
  border-color: #d1d3e0;
  box-shadow: inset 0 1px 2px rgba(0,0,0,.075);
  background-clip: padding-box
}
.select2-container.select2-container--default.select2-container:focus,.select2-container.select2-container--default.select2-container * {
  outline: none
}
.select2-container.select2-container--default.select2-container--open .select2-selection,.select2-container.select2-container--default.select2-container--focus .select2-selection {
  border-color: rgba(81,45,196,.6);
  box-shadow: inset 0 1px 2px rgba(0,0,0,.075),0 0 0 2px rgba(81,45,196,.2)
}
.select2-container.select2-container--default .select2-search__field:focus {
  border-color: rgba(81,45,196,.6)
}
#activity dt {margin-top:0;}

/* コピーボタンの場所を変更 */
div.wiki div.pre-wrapper {
  position: relative;
}
div.pre-wrapper a.copy-pre-content-link {
  position: absolute;
  top: 3px;
  right: 3px;
  cursor: pointer;
  display: none;
  border-radius: 3px;
  background: #fff;
  border: 1px solid #ccc;
  padding: 0px 3px 3px 3px;
}
div.pre-wrapper:hover a.copy-pre-content-link {
  display: block;
}

/* 管理者画面に表示されるグローバルテンプレートアイコンの位置を調整 */
#admin-menu a.icon-global_issue_templates {
  margin-left: 20px;
  background-repeat: no-repeat;
  background-position: left
}

/* デフォルトと同じイシューのヘッダに変更する */
div#sticky-issue-header {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  border-bottom: 1px solid #d0d7de;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  font-size: 0.8125rem;
  align-items: center;
  z-index: 1000;
  padding: 10px 6px;
  border-radius: 0px;
}
div#sticky-issue-header.is-visible {
  display: flex;
}
div#sticky-issue-header .issue-heading {
  flex-shrink: 0;
  white-space: nowrap;
  margin-right: 6px;
}
div#sticky-issue-header .subject {
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex-grow: 1;
}

/* イシューのタイトルを調整 */
.issue .subject h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 1.14em;
    font-weight: 500;
    line-height: 1.33
}
.issue.details>.author {
  margin-bottom: 24px;
  padding-left: 0px;
}

/* Reaction ボタンの位置を調整 */
.reaction-button:hover, .reaction-button:active {
  text-decoration: none;
}
.reaction-button .icon-label {
  margin-left: 3px;
  margin-bottom: -1px;
  font-weight: bold;
}
.reaction-button.has-reactions .icon-svg {
  stroke-width: 2.0;
}
.reaction-button.readonly {
  cursor: default;
}
.reaction-button.readonly .icon-svg {
  stroke: #999;
}
.reaction-button.readonly .icon-label {
  color: #999;
}
div.issue.details .reaction {
  float: right;
  font-size: 0.9em;
  margin-top: 0em;
  margin-left: 10px;
  clear: right;
}
div.message .reaction {
  float: right;
  font-size: 0.9em;
  margin-left: 10px;
}
div.news .reaction {
  float: right;
  font-size: 0.9em;
  margin-left: 10px;
}

/* イシューの履歴 */
.journal>div>h4, .journal>h4 {
    margin: 0;
    padding: 8px 12px;
    border-radius: 3px 3px 0 0;
    background-color: hsl(230.8609271523, 20%, 98.125%);
    color: rgb(112.965, 118.1697019868, 147.135);
    font-size: .92em;
    font-weight: normal;
    display: flex;
    justify-content: space-between;
}
.journals .journal-meta, .journals .journal-actions {
  display: inline-flex;
  gap: 10px;
}
